{% extends "core/base.html" %} 
{% block title %}{{ article.title }}{% endblock %} 
{% block content %}
{% load static %}
{% load icons %}
<div class="w-3/4 my-6 mx-auto p-6 bg-gray-100 rounded-xl" data-article="{{ article.id }}" id="article-details">
    <h1 class="mb-6 text-5xl font-bold">{{ article.title }}</h1>
    <img src="{{article.urlToImage}}" class="rounded-xl" alt="{{article.title}}">
    <h2 class="mt-6 text-2xl font-bold">{{article.description}}</h2>
    <p class="mt-6 mb-6">{{article.content}}</p>
    <a href="{{article.url}}" class="px-6 py-3 mt-6 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
        Continue reading {% if article.sourceName %}at {{article.sourceName}} {% endif%} 
    </a>
    
    <h2 class="mt-6 text-2xl font-bold">Ratings</h2> 
    <div class="flex">
        {% for i in stars_list %}
        <img src="{% static 'core/star-fill.svg' %}" alt="Star" class="w-8 h-8 m-1">
        {% endfor %}
        {% for i in stars_until_5_list %}
        <img src="{% static 'core/star.svg' %}" alt="Non-filled Star" class="w-8 h-8 m-1">
    {% endfor %}
    </div>
    <h2 class="mt-6 text-2xl font-bold">Your Rating</h2> 
    <div class="flex">
        {% for i in stars_5_list %}
        <img src="{% static 'core/star.svg' %}" alt="Star" data-value={{i}} class="w-8 h-8 m-1 own_rating">
        {% endfor %}
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

</div>
<style>
    .button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        color: #000; /* Set the initial text color */
    }

    .button.thumbs-up.active {
        background-color: green;
        color: #fff; /* Set the text color when active */
    }

    .button.thumbs-down.active {
        background-color: red;
        color: #fff; /* Set the text color when active */
    }
</style>
<script>
    console.log("HELLO")
    // User rating
    const starElements = document.querySelectorAll('.own_rating');
    const articleId = document.getElementById('article-details').getAttribute('data-article');
    
    starElements.forEach(star => {
        star.addEventListener('click', function() {
            const ratingValue = star.dataset.value;
            console.log('User clicked on star with value:', ratingValue);
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            // on click all left stars shall get filled, the right stars not-filled
            starElements.forEach((star, index) => {
                    const starValue = parseInt(star.dataset.value, 10);
                    if (starValue <= ratingValue) {
                        star.src = '{% static "core/star-fill.svg" %}';
                    } else {
                        star.src = '{% static "core/star.svg" %}';
                    }
                });
                
            $.ajax({
                type: 'POST',
                url: '/article/rating/' + articleId ,  // Replace with your actual endpoint
                data: { rating: ratingValue },
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    console.log('Rating saved successfully:', data);
                },
                error: function (error) {
                    console.error('Error saving rating:', error);
                }
            });
        });
    });
</script>
{% endblock %}