{% extends "core/base.html" %} 
{% block title %}{{ article.title }}{% endblock %} 
{% block content %}
{% load static %}
{% load icons %}
{% load i18n %}
<a href="/" class="px-6 py-3 mt-6 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">
    {% trans 'back_to_homepage_btn' %}
</a>
<div class="w-3/4 my-6 mx-auto p-6 bg-gray-100 rounded-xl" data-article="{{ article.id }}" id="article-details">
    
    <h1 class="mb-6 text-5xl font-bold">{{ article.title }}</h1>
    {% if article.urlToImage %}
        <img src="{{article.urlToImage}}" class="rounded-xl" alt="{{article.title}}">
    {% endif %}
    <h2 class="mt-6 text-2xl font-bold">{{ article.description|default:"Description not available" }}</h2>
    <p class="mt-6 mb-6">{{ article.content|default:"Content not available" }}</p>
    <a href="{{article.url}}" class="px-6 py-3 mt-6 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
        {% trans 'continue_reading_btn' %} {% if article.sourceName %}{% trans 'continue_reading_at_btn' %} {{article.sourceName}} {% endif%} 
    </a>

    <h2 class="mt-6 text-2xl font-bold">{% trans 'rating' %}</h2>
    <div class="flex mt-2 items-center">
        <img src="{% static 'core/thumbs-up.svg' %}" alt="Thumbs up" class="w-10 h-10 m-2 p-2 font-semibold bg-teal-500 rounded-xl hover:bg-teal-700" onclick="submitRating(1)">
        <p class="font-bold m-2">{{article.likes}}</p>
        <img src="{% static 'core/thumbs-down.svg' %}" alt="Thumbs down" class="w-10 h-10 m-2 p-2 font-semibold bg-gray-500 rounded-xl hover:bg-gray-700" onclick="submitRating(-1)">
        <p class="font-bold m-2">{{article.dislikes}}</p>
    </div>
    
   
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


    <div id="public-chat">
        <h2 class="mt-6 text-2xl font-bold">{% trans 'discussion_title' %}</h2>
        {% include 'core/article_chat.html' %}
    </div>
</div>

<script>
    function submitRating(rating) {
        // Make a POST request using JavaScript fetch API
        fetch('{% url "core:rating" article_id=article.id %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token
            },
            body: 'rating=' + rating,
        })
        .then(response => {
            location.reload();
            if (response.ok) {
                // Handle success (if needed)
                console.log('Rating submitted successfully');
            } else {
                // Handle errors (if needed)
                console.error('Failed to submit rating');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
   
</script>
{% endblock %}